VITE_GOONG_API_KEY=G8qaLgCJjRNKnYN8Cw0e4Zt3XvTGeR7I7KC7orqy
VITE_GOONG_MAPTILES_KEY=MFfDNcCDT4IFu4CCEr8ULhzUlzpplZDgBQD0aeBO
VITE_DATA_SOURCE=supabase
VITE_ENABLE_SUPABASE_CONFIG_SYNC=true
VITE_SUPABASE_URL=https://qjaklysckgzdfjthzkzu.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_VPLwhy64zz2QQUyy02xzsg_CXs2A1JI
VITE_SUPABASE_STRICT_MODE=true
VITE_ENABLE_SUPABASE_RUNTIME_WRITES=true
VITE_ENABLE_SUPABASE_SEED_MIGRATION=false
VITE_ENABLE_MENU_SCHEMA_BRIDGE_MIGRATION=false
